h1{
    text-align: center;
}

body{
    background-image: url("https://wallpapercave.com/wp/wp2762609.jpg");
    background-size: cover;
}
.box{
    background-color: white;
    text-align: center;
}